/*nav.is-transparent {
	background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}*/
div#mainnav{
	background: transparent;
	
}

header#header-content {
	border: 4px solid green;
    background-image: linear-gradient(-90deg, #261984,#5F4FCC);
	
}

#sectionHeader{
	/*min-height: 100vh;*/
	/*padding-top: 150px;*/
	border: 2px solid red;
	
	padding: 30px;

}

#sectionHeader,#sectionAbout
{
	min-height: 100vh;
}

.imagen img {
	max-width: 100%;
	width: 80%;
}

@media only screen and (max-width: 975px) { 
	.imagen img { width: 50%;  } 
}

/*@media screen and (min-width: 975px) {
  .imagen img{
    
	width: 50%;
  }
}*/
/*
@media only screen and (max-width: 1800px) { .imagen img { width: 980px;  } }
@media only screen and (max-width: 1400px) { .imagen img { width: 830px;  } }
@media only screen and (max-width: 1199px) { .imagen img { width: 730px;  } }
@media only screen and (max-width: 991px) { .imagen img { width: 100%;  } }
*/
#sectionAbout{
	/*padding-top: 100px;*/

	background-color: #3E2BC5;
}

.pad{
	padding: 50px;
}
.text-space{
	line-height: 1.8;
}